<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.drug.mapper.TMedicalDrugsPharmacyMapper">
    
    <resultMap type="TMedicalDrugsPharmacy" id="TMedicalDrugsPharmacyResult">
        <result property="id"    column="id"    />
        <result property="drugsid"    column="drugsId"    />
        <result property="name"    column="name"    />
        <result property="no"    column="no"    />
    </resultMap>

    <sql id="selectTMedicalDrugsPharmacyVo">
        select id, drugsId, name, no from t_medical_drugs_pharmacy
    </sql>

    <select id="selectTMedicalDrugsPharmacyList" parameterType="TMedicalDrugsPharmacy" resultMap="TMedicalDrugsPharmacyResult">
        <include refid="selectTMedicalDrugsPharmacyVo"/>
        <where>  
            <if test="drugsid != null  and drugsid != ''"> and drugsId = #{drugsid}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="no != null "> and no = #{no}</if>
        </where>
    </select>
    
    <select id="selectTMedicalDrugsPharmacyById" parameterType="String" resultMap="TMedicalDrugsPharmacyResult">
        <include refid="selectTMedicalDrugsPharmacyVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTMedicalDrugsPharmacy" parameterType="TMedicalDrugsPharmacy">
        insert into t_medical_drugs_pharmacy
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="drugsid != null">drugsId,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="no != null">no,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="drugsid != null">#{drugsid},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="no != null">#{no},</if>
         </trim>
    </insert>

    <update id="updateTMedicalDrugsPharmacy" parameterType="TMedicalDrugsPharmacy">
        update t_medical_drugs_pharmacy
        <trim prefix="SET" suffixOverrides=",">
            <if test="drugsid != null">drugsId = #{drugsid},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="no != null">no = #{no},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTMedicalDrugsPharmacyById" parameterType="String">
        delete from t_medical_drugs_pharmacy where id = #{id}
    </delete>

    <delete id="deleteTMedicalDrugsPharmacyByIds" parameterType="String">
        delete from t_medical_drugs_pharmacy where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>